# /etc/iot/connector.env
# Konfiguration für die Connectivity App
# Datei anlegen mit: sudo nano /etc/iot/connector.env

IOT_HUB_HOST=DEIN-HUB-NAME.azure-devices.net
IOT_DEVICE_ID=pi-sensor-01
IOT_CERT_FILE=/etc/iot/certs/device.pem
IOT_KEY_FILE=/etc/iot/certs/device.key
IOT_CA_FILE=/etc/ssl/certs/ca-certificates.crt
IOT_HTTPS_FALLBACK=true
IOT_BUFFER_SIZE=100
